name: Check new release

on:
  schedule:
    - cron: '0 6 * * 1'
  workflow_dispatch:

jobs:
  check-new-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get latest DBI release (tag name)
        id: get_tag_name
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # DBI_RELEASE=$(curl -s https://api.github.com/repos/rashevskyv/dbi/releases/latest | jq -r '.tag_name')
          DBI_RELEASE=$(gh api repos/rashevskyv/dbi/releases/latest --jq '.tag_name')
          echo "DBI_RELEASE=$DBI_RELEASE"
          # DBIZIP_RELEASE=$(curl -s https://api.github.com/repos/abelmarkus/dbi2zip/releases/latest | jq -r '.tag_name')
          DBIZIP_RELEASE=$(gh api repos/abelmarkus/dbi2zip/releases/latest --jq '.tag_name')
          echo "DBIZIP_RELEASE=$DBIZIP_RELEASE"

          echo "update=false" >> $GITHUB_OUTPUT
          if [[ $DBI_RELEASE > $DBIZIP_RELEASE ]]; then
            echo "update=true" | tee -a $GITHUB_OUTPUT
            echo "version=$DBI_RELEASE" | tee -a $GITHUB_OUTPUT
          fi
      
      - name: Dispatch a new release creation
        if: ${{ steps.get_tag_name.outputs.update == 'true' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh workflow run release-package.yml \
          -f version="${{ steps.get_tag_name.outputs.version }}" \
          --ref $GITHUB_REF_NAME
