name: Create DBI Release
run-name: ${{ github.workflow }} ${{ inputs.version }}

on:
  workflow_dispatch:  
    inputs:
      version:
        type: string
        required: true

jobs:
  create-new-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        
      - name: Download files
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download -R rashevskyv/dbi -p 'DBI.nro' -p 'dbi.config' -p 'dbi.locations'
          
      - name: Archive files
        run: |
          mkdir -p switch/DBI
          if [ -f "DBI.nro" ]; then mv DBI.nro switch/DBI/; else echo "DBI.nro not found"; fi
          if [ -f "dbi.config" ]; then mv dbi.config switch/DBI/; else echo "dbi.config not found"; fi
          if [ -f "dbi.locations" ]; then mv dbi.locations switch/DBI/; else echo "dbi.locations not found"; fi
          zip -r DBI.zip switch/
          
      - name: Create release
        id: create_release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ inputs.version }} ./DBI.zip --notes "Latest release of DBI zip."
